.hero{
  position: relative;
  padding: 150px 0;
}

.bg-primary{
  background: -webkit-linear-gradient(#fdcc52, #fdc539);
  background: -o-linear-gradient(#fdcc52, #fdc539);
  background: linear-gradient(#fdcc52, #fdc539);
}

.container{
}

h1, h2, h3, h4, h5, h6 {
    font-family: Catamaran,Helvetica,Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}